body {
    margin: 0;
}
#bg-image {
    width: 100vw;
    height: 100vh;
    position: relative;
}
#countdown {
    position: absolute;
    margin-top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
}